body {
  background-color: #fff;
  color: rgb(40, 40, 40);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
}

section {
  width: 50%;
}

section.left {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

section.left h1 {
  color: rgb(213, 84, 84);
  font-size: 50px;
  display: block;
}

section.right .img {
  height: 100vh;
  width: 50vw;
  background-image: url(images/bg.jpg);
  background-position: center;
  background-size: cover;
}

form {
  display: flex;
}
