body {
  background-color: #fff;
  color: rgb(40, 40, 40);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
}

section {
  width: 50%;
}

img {
  width: 100%;
  height: 100%;
}

section.left {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-content: center;
  height: 100%;
}

section.left h1 {
  color: rgb(213, 84, 84);
}
